.header{
    background-color: var(--primary-dark-blue) !important;
}

/* .sansFont{
    font-family: 'Plus Jakarta Sans', sans-serif;
} */

.appName {
    color: var(--logoColor);
    
}

.landing-mainText{
    font-size: 4em;
    font-weight: 600;
    line-height: 1.1em;
}

.landing-subText{
    font-size: 1.7em;
    font-weight: 100;
}

.features{
    /* color: var(--gradient-color); */
    font-weight: 700;
    font-size: 2.2em;
    background: linear-gradient( 
        to right, var(--pink), var(--violet)); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
}

.footer{
    background-color: var(--secondary-dark-blue);
}

.footerfont {
    color: rgb(173, 185, 218)!important;
}